.editor {
  position: absolute;
  width: 100%;
  height:calc(89% - 50px);
  margin-top: 8%;
}

.editor-bar {
  background-color: red;
  color: white;
  height: 50px;
}

.editor-window {
  width: 100%;
  height: calc(100% - 50px);
  margin-top: 0px;
}

.collapsible-panel {
  width: 200px;
  height: calc(100% - 50px);
  overflow-x: hidden;
  position: absolute;
  margin-top: 0;
  transition: 0.5s;
  box-sizing: border-box;
  cursor: pointer;
}

#panel1 {
  background-color: blue;
  right:0px;
}

#panel2 {
  background-color: black;
  right: 50px;
}

.collapsed {
  width: 50px;
}