.editor {
  position: absolute;
  width: 100%;
  height:calc(89% - 50px);
  margin-top: 8%;
}

.editor-bar {
  background-color: red;
  color: white;
  height: 50px;
}

.collapsible-panel {
  transition: 0.5s;
  height: 100%;
  width: 100px;
  background-color: white;
  border-color: black;
  border-width: thin;
  left: 100%;
}

.collapsed {
  width: 10px;
}
