.container, .dashed {
  background-color: #FFF;
  border-radius: 25px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 25px;
}

.upload-container, .previous-uploads-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 370px;
  height: 450px;
  background-color: rgba(216, 216, 216, 0.5);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-container:hover, .previous-uploads-container:hover {
  background-color: rgba(127, 127, 127, 0.25);
  color: white;
  border-color: darkorange;
}

.upload-container:active, .previous-uploads-container:active {
  background-color: rgba(64, 64, 64, 0.25);
  color: black;
  border-color: green;
}

.previous-uploads-container {
  transform: translate(3%, -48%);
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px dashed grey;
}

.upload-container {
  transform: translate(-104%, -48%);
  border-left: 2px dashed grey;
  border-top: 2px dashed grey;
  border-bottom: 2px dashed grey;
  border-right: 2px solid black;
}

.dashed {
  border: none;
  border-left: 2px dashed #f00;
  color: #fff;
  background-color: #fff;
  position: absolute;
  transform: translate(-50%, -48%);
  left: 50%;
  top: 50%;
  height: 460px;
  width: 5px;
}
