<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}My Website{% endblock %}</title>
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        <link rel="stylesheet" href="{% static 'css\particles.css' %}">
    </head>
    <body>
        {% load static %}
        <div id="particles-js"></div>

        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <script src="{% static 'js\particles.js' %}"></script>
    </body>
</html>