{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/editor.css' %}">
<div class="editor">
    <div class="editor-bar">
        <p style="text-align: center; padding: 15px 0;">Impart AI Editor</p>
    </div>
    <div class="editor-window">
        <div class="collapsible-panel collapsed" id="panel1">
            <!-- Content for panel 1 -->
        </div>
        <div class="collapsible-panel position-relative collapsed" id="panel2">
            <!-- Content for panel 2 -->
        </div>
    </div>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/editor.js' %}" defer></script>
{% endblock %}