{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css\login.css' %}">
<div class="login-window">
    <div class="center-top">
        <img class="icon center-icon" src="{% static 'images\a2i2-red-logo.svg' %}" alt="a2i2-icon">
    </div>
    <div class="welcome-text">
        <p style="font-size: 2vw;">Welcome to IQCraft</p>
    </div>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="input-row">
            <img class="icon inline-icon" src="{% static 'images\user-icon.png' %}" alt="Username Icon">
            <input class="txt-box" type="text" placeholder="Enter username" name="username">
        </div>
        <div class="input-row">
            <img class="icon inline-icon" src="{% static 'images\password-icon.png' %}" alt="Password Icon">
            <input class="txt-box" type="password" placeholder="Enter password" name="password">
        </div>

        <button type="submit" class="submit-button">Submit</button>
    </form>
</div>
<script src="{% static 'js\login.js' %}"></script>
{% endblock %}